* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.btn {
    color: #FFFFFF;
    background-color: #30b868;
    background-position: 100%;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
}

.container {
    max-width: 1600px;
    margin: 0 auto;

}

/* main styles */
header {
    background-color: #FFFFFF;
    padding-top: 16px 120px;

}

nav {

    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;

}

nav .menu a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

nav li:hover {
    background-color: grey;
}

nav button:hover {
    background-color: yellowgreen;
}

/* banner styles */
#banner {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    width: 100%;
    max-width: 1600px;
    height: 674px;
    display: flex;
    align-items: center;
}

#banner .banner-content {
    width: 1360px;
    margin: 0 auto;
    text-align: center;
}

#banner .banner-content h1 {
    max-width: 770px;
    display: flex;
    justify-content: center;
    margin: 16px 295px;


}

#banner .banner-content p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;


}

#banner .banner-content .btn2 {
    color: #FFFFFF;
    padding: 12px 16px;
    gap: 10px;
    border: 1px #FFFFFF solid;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

#banner .banner-content button:hover {
    background: yellowgreen;
}


#banner .banner-content .btn3 {
    color: #30B868;
    padding: 12px 16px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    max-width: 229px;
    cursor: pointer;

}

#banner .banner-content .buttons {
    gap: 16px;
    justify-content: center;
    display: flex;
}


/* cards */
#about {
    background-color: #FFFFFF;
    max-width: 1600px;
    padding-top: 20px;
}

#about .card-container {

    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
}

#about .card-container .section-heading1 h2 {
    margin-top: 16px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

#about .card-container .section-heading1 p {
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

#about .card-container .card-container {

    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 44px;
    max-width: 1360px;
}

#about .card-container .info-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    max-width: 322px;
    box-shadow: 0px 0px 8px 0px #00000023;
    background: rgba(255, 255, 255, 1);
}

#about .card-container .info-card img {
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 14px 13px;
    margin-top: 50px;
    margin-bottom: 16px;
    justify-content: center;
}

#about .card-container .info-card h4 {
    font-size: 24;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

#about .card-container .info-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 21.5px;
}

/* second brain - Image and Checklist*/
.second-container {
    width: 100%;
    max-width: 1360px;
    margin: 120px;
    display: flex;
    gap: 60px;
    justify-content: flex-start;
    align-items: center;
}

.second-container .brain-img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
    justify-content: left;


}



.second-container h4 {
    color: #30B868;
    margin-top: 102px;
}

.second-container h1 {
    font-size: 48;
    font-weight: bold;
    color: #001931;
    margin-top: 16px;
}

.second-container .text p {
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
}

.second-container .list {
    display: inline-block;
    gap: 10px;
    padding-top: 40px;
}



.second-container .list img {
    align-items: flex-start;
    width: 20px;
    height: 20px;
    padding: 1.88px;

}

.list ul li {
    list-style-type: none;
}

.second-container .list p {
    text-align: left;
    color: var(--Style, rgba(0, 25, 49, 1));
    justify-content: center;

}

/* ready */


#ready .ready-container {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    padding: 80px 40px;
}

#ready .ready-container .ready-content h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

#ready .ready-container .ready-content p {
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

#ready .ready-container .btn-4 {
    text-decoration: none;
    margin-bottom: 16px;
    color: #FFFFFF;
    background-color: #30b868;
    background-position: 100%;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    cursor: pointer;

}

#ready .ready-container button:hover {
    background-color: yellowgreen;
}

#ready .ready-container .no-credit p {
    color: #627382;
}

/* footer */
footer {
    margin-top: 120px;
    padding: 120px 120px 30px 120px;
    background-color: var(--Style, rgba(0, 25, 49, 1));
}

.footer-container {
    max-width: 1360px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-container .social .icons a {
    margin-right: 16px;
}

.social a img {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.social p {
    color: #FFFFFF;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 16px;
}

footer hr {
    max-width: 1360px;
    border: 1px solid var(--DS New/Colors/Stroke/Gray-Light, rgba(229, 231, 235, 1));
    opacity: 0.2;

    margin-top: 80px;
}

footer .copyright {
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}