* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.btn {
    color: #FFFFFF;
    background-color: #30b868;
    background-position: 100%;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;

}

/* main styles */
header {
    background-color: #FFFFFF;
    padding-top: 16px 120px;

}

nav {

    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;

}

nav .menu a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

/* banner styles */
#banner {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    width: 100%;
    max-width: 1600px;
    height: 674px;
    display: flex;
    align-items: center;
}

#banner .banner-content {
    width: 1360px;
    margin: 0 auto;
    text-align: center;
}

#banner .banner-content h1 {
    max-width: 770px;
    display: flex;
    justify-content: center;
    margin: 16px 295px;


}

#banner .banner-content p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;


}

#banner .banner-content .btn2 {
    color: #FFFFFF;
    padding: 12px 16px;
    gap: 10px;
    border: 1px #FFFFFF solid;
    border-radius: 4px;
    background-color: transparent;
}

#banner .banner-content .btn3 {
    color: #30B868;
    padding: 12px 16px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    max-width: 229px;

}

#banner .banner-content .buttons {
    gap: 16px;
    justify-content: center;
    display: flex;
}


/* cards */
#about {}

#about .card-container {
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
}

#about .card-container .section-heading1 h2 {
    margin-top: 16px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

#about .card-container .section-heading1 p {
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

#about .card-container .card-info {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 44px;
}

#about .card-container .info-card {
    background-color: #FFFFFF;
    width: 322px;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

#about .card-container .info-card img {
    background: rgba(249, 85, 85, 1);
    width: 32px;
    height: 32px;
    margin-bottom: 16px;
}

#about .card-container .info-card h4 {
    font-size: 24;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

#about .card-container .info-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;

}